/* Generelle indstillinger */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f8f2 !important;
    color: #333;
}



/* Header */
header {
    padding: 40px 20px 20px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.main-navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; 
}

.main-navigation li {
    margin-right: 20px;
}

.main-navigation a {
    text-decoration: none;
    color: #17365d;
    font-weight: bold;
    padding: 10px 15px;
}

.main-navigation a:hover {
    color: #adc5d9; 
}

.site-logo img {
    height: 70px; 
    padding-right: 20px;
}

/* Responsiv header */
@media screen and (max-width: 1124px) {
    .container {
        
        flex-wrap: wrap; 
        text-align: center;
        margin-top: 20px;
        justify-content: center; 
        flex-direction: column; 
    }

    header .site-logo .site-branding {
        flex-wrap: wrap; 
        text-align: center;
        margin-top: 20px;
        justify-content: center; 
        flex-direction: column; 
    }

    header .site-logo .site-branding {
        max-width: 150px; 
        margin-bottom: 20px;
    }

    header nav {
        margin-left: 0; 
        gap: 10px; 
        width: 100%;
    }

    .main-navigation ul {
        flex-wrap: wrap;
        justify-content: center; 
        padding: 0;
    }

    .main-navigation li {
        margin-bottom: 10px; 
    }

    .main-navigation a {
        font-size: 0.9rem;
        padding: 8px 10px;
        display: block;

    }
}






/*Topbar */
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #adc5d9; 
    padding: 10px 20px;
    z-index: 999;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-direction: row;
}

.topbar-item {
    display: flex;
    align-items: center; 
    gap: 12px;
}

.topbar-icon {
    width: 20px; 
    height: auto;
}

.topbar-text-content {
    font-size: 16px;
    font-weight: bold;
    color: #17365d; 
    text-decoration: none;
}

.topbar-text-content:hover {
    text-decoration: underline;
}

.topbar-link {
    font-size: 16px;
    color: #17365d;
    text-decoration: none;
    font-weight: bold;
}

.topbar-link:hover {
    text-decoration: underline;
}


/* Responsiv topbar */
@media (max-width: 768px) {
    .topbar {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 10px;
        gap: 10px;
    }

    .topbar-link {
        margin-top: 10px; 
        align-self: center;
    }
}

@media (max-width: 480px) {
    .topbar {
        font-size: 14px; 
        padding: 5px;
    }

    .topbar-item {
        gap: 5px; 
    }

    .topbar-icon {
        width: 16px;
    }

    .topbar-text-content {
        font-size: 14px; 
    }

    .topbar-link {
        font-size: 14px;
        text-align: center;
        margin: 5px auto; 
    }
}
@media (max-width: 768px) {
    .topbar-item {
        display: none; 
    }
}






/* Hero sektion */
.hero-video-wrapper {
    position: relative; 
    overflow: hidden; 
}

.hero-video-wrapper video {
    display: block;
    width: 100%;
    height: 100vh;
    filter: brightness(50%);
    object-fit: cover;
}

.hero-title-before-video{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    color: white; 
    font-size: 2rem; 
    line-height: 1.4;
    width: 55%; 
    white-space: normal; 
    z-index: 10; 
}

/* Responsiv hero sektion */
@media screen and (max-width: 992px) {
    .hero-title-before-video {
        font-size: 1.8rem; 
        width: 85%; 
        top: 60%;
    }
}

@media screen and (max-width: 768px) {
    .hero-video-wrapper video {
        height: auto; 
    }
}

@media screen and (max-width: 768px) {
    .hero-title-before-video {
        font-size: 1.5rem; 
        top: 70%; 
    }
}

@media screen and (max-width: 690px) {
    .hero-title-before-video {
       display: none;
    }
}






/* Billeder og titel efter hero sektion */
.hero-title-after-video {
    margin-top: 40px; 
    text-align: center; 
    font-size: 1.2rem;
    color: #17365d;
}

.box-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.box {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    flex: 1 1 calc(20% - 20px);
    max-width: calc(20% - 20px);
}

.box:hover {
    transform: scale(1.05);
}

.box-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: brightness(50%);
}

.box-title {
    position: absolute;
    bottom: 50%;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 10;
}

.box-title:hover {
    color: #adc5d9;
}

.box-link {
    text-decoration: none;
    color: inherit;
}

/* Responsive billeder og titel efter hero sektion */
@media screen and (max-width: 992px) {
    .hero-title-after-video {
        font-size: 1rem; 
    }
}

@media screen and (max-width: 768px) {
    .hero-title-after-video {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 576px) {
    .hero-title-after-video {
        font-size: 0.8rem; 
    }
}

@media screen and (max-width: 768px) {
    .box {
        flex: 1 1 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
    }
}

@media screen and (max-width: 576px) {
    .box-section {
        flex-direction: column; 
        align-items: center;
        gap: 15px;
    }

    .box {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .box-link {
        font-size: 2rem;
    }
}







/* Kontakt siden */
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px; 
    margin: 40px auto; 
    max-width: 1200px; 
    padding: 0 20px;
}

.contact-form {
    flex: 1;
    background: #fff; 
    padding: 20px;
    border-radius: 4px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.contact-form h2 {
    font-size: 28px;
    color: #17365d; 
    margin-bottom: 20px;
}

.contact-form h4 {
    font-size: 20px;
    color: #17365d; 
    margin-bottom: 10px;
}

.contact-form p {
    font-size: 16px;
    color: #17365d;
    line-height: 1.6;
    padding: 5px;
}

.contact-form a {
    color: #17365d; 
    text-decoration: none;
}

.wpcf7-form input[type="text"],
.wpcf7-form input[type="email"],
.wpcf7-form textarea, 
.wpcf7-form input[type=submit]{
    background-color: #f9f8f2; 
    color: #17365d; 
    border: 1px solid #adc5d9; 
    padding: 10px;
    border-radius: 5px;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-map {
    flex: 1;
    max-width: 600px; 
    height: 600px;
    align-items: center;
    justify-content: center;
}

/* Responsiv kontakt side */
@media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
      align-items: center; 
      gap: 40px;
    }
    .contact-form {
      width: 100%; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    }
    .contact-form h2 {
      font-size: 22px; 
    }
    .contact-form h4 {
      font-size: 18px;
    }
    .contact-form p {
      font-size: 14px; 
    }
    .contact-map {
        display: none;
    }
  }
  
@media (max-width: 480px) {
    .contact-container {
      padding: 0 10px; 
      gap: 20px;
    }
    .contact-form {
      padding: 15px; 
    }
    .wpcf7-form input[type="text"],
    .wpcf7-form input[type="email"],
    .wpcf7-form textarea {
      font-size: 12px; 
      padding: 8px;
    }
    .wpcf7-form input[type="submit"] {
      font-size: 14px;
      padding: 10px;
    }
    .contact-form h2 {
      font-size: 20px; 
    }
    .contact-form p {
      font-size: 13px;
    }
}

    




/* Serives sider */
.h1img {
    text-align: center;
    margin-bottom: 20px;
}

.h1img img {
    max-width: 100%;
    height: auto;
}

.hero-image {
    display: block;
    width: 100%;
    height: 100vh;
    filter: brightness(50%);
    object-fit: cover; 
    margin-bottom: 60px;
}

.hero-image-wrapper {
    position: relative; 
    width: 100%;
    overflow: hidden;
}

.service-overskrift{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 5rem;
    z-index: 10;
}


.service-introduction {
    padding: 20px;
    max-width: 1200px;
    margin-left: 60px;
    margin-bottom: 20px;
}

.service-title {
    font-size: 1.8rem;
    color: #2e4b2a;
    padding: 20px 20px 0 20px;
    margin-left: 60px;
}       

.service-detail {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.service-gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.service-gallery img {
    width: 32%;
    aspect-ratio: 16 / 9; 
    object-fit: cover;
    border-radius: 4px;
}

.service-video video {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover; 
    margin: none;
}

.line h3 {
    text-align: center;
    margin-top: 30px;
    color: #00509e;
}

/* Responsiv services sider*/
@media (max-width: 768px) {
    .service-gallery img {
        width: 48%;
    }
}

@media (max-width: 480px) {
    .service-gallery img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .service-overskrift {
        font-size: 3rem;
        top: 60%;
    }
    .service-introduction {
        padding: 15px;
        max-width: 95%; 
        margin-left: 20px;
    } 
    .service-title {
        font-size: 1.5rem; 
        margin-left: 20px;
        padding: 15px 15px 0 15px;
    }
}
    
@media (max-width: 480px) {
    .service-overskrift {
        display: none;
    }
    .service-introduction {
        padding: 10px;
        max-width: 90%; 
        margin-left: 10px;
        margin-bottom: 15px;
    }
    .service-title {
        font-size: 1.2rem;
        margin-left: 10px;
        padding: 10px 10px 0 10px;
    }
}








/* Footer */
.footer {
    background-color: #f9f8f2;
    text-align: left;
    font-family: Arial, sans-serif;
    color: #17365d;
}

.footer-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    max-width: 1200px; 
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 60px;
    gap: 20px;
    position: relative;
}

.footer-section {
    flex: 1;
    padding: 20px;
}


.footer-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-section p, .footer-section a {
    font-size: 18px;
    line-height: 1.6;
    color: #17365d;
    text-decoration: none;
}

.footer-section a:hover {
    color: #adc5d9; 
}

.footer-map iframe {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.footer-section .dme-branding {
    margin-top: 10px;
    text-align: left;
}

.dme-branding{
    margin-bottom: 100px;
}
.footer-section .dme-branding img {
    max-width: 100px;
    height: auto; 
    display: inline-block;
    transition: transform 0.3s ease;
}

.footer-section .dme-branding img:hover {
    transform: scale(1.1);
}

.footer-content{
  position: absolute;
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%); 
  font-size: 14px;
  color: #17365d;
  text-align: center;

}

/* Responsiv footer */
@media screen and (max-width: 576px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column; 
        text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .footer-section {
        flex: unset;
    }
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center; 
        padding: 0;
    }

    .footer-section {
        margin-bottom: 20px; 
        padding: 0;
    }

    .dme-branding {
    text-align: center !important;    }
}